<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="file_page">
  <meta name="author" content="Sarah">
  <link rel="icon" href="../../favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="file_css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="file_css/dashboard.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="file_js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="file_js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span class="active" ></span><!--无法实现缺省打开-->
        <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
      </a>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-picture" aria-hidden="true"></a>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-flash" aria-hidden="true"></a>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-bell" aria-hidden="true"></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true">
                      <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"> 个人</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"> 个人</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"> 个人</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"> 个人</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"> 个人</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true">
                    </button>
                </span>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">
                <span class="glyphicon glyphicon-file" aria-hidden="true"> All_files
                <span class="sr-only">(current)</span></a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-time" aria-hidden="true"> Recent</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"> Collection</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"> Received_shares</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"> URLs</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"> Your_shares</a></li>

        <li><a href="#"><span class="glyphicon glyphicon-tags" aria-hidden="true"> Tags</a></li>
      </ul>
      <ul class="nav nav-sidebar">
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"> Trash_can</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1,001</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>dolor</td>
            <td>sit</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="file_js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="file_js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="file_js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

</html>
