<div class="row">
  <div class="col-lg-6">
    <div class="input-group" class="form-inline">
      <div class="form-inline">
        <input type="text" name="name" id="name" class="form-control" placeholder="Username" v-model="username">
        <input type="password" class="form-control" placeholder="Password" v-model="password">
        <GroupDropdown :all="allGroups"></GroupDropdown>
        <button class="btn btn-default" type="button" @click="createUser">Create user</button>
      </div>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
