<div>
  <!-- 用户头像 -->
  <el-upload
    class="avatar-uploader"
    :action="uploadImageUrl"
    :show-file-list="false"
    :on-success="onImageUploadSuccess"
    :before-upload="beforeImageUpload">
    <img v-if="imageUrl" :src="imageUrl" class="avatar">
    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
  </el-upload>

  <b-form @submit="onSubmit">
    <b-form-group label="用户名" label-for="usernameInput" description="用户名不可修改">
      <b-form-input id="usernameInput" type="text" v-model="user.username" readonly></b-form-input>
    </b-form-group>
    <b-form-group label="姓名" label-for="nameInput">
      <b-form-input id="nameInput" type="text" v-model="user.firstname" required placeholder="姓名"></b-form-input>
    </b-form-group>
    <b-form-group label="电子邮箱" label-for="emailInput">
      <b-form-input id="emailInput" type="email" v-model="user.email" required></b-form-input>
    </b-form-group>
    <b-form-group label="电话" label-for="phoneInput">
      <b-form-input id="phoneInput" type="tel" v-model="user.phone" required></b-form-input>
    </b-form-group>

    <b-button variant="primary" v-b-modal.password-modal>修改密码</b-button>
    <b-button type="submit" variant="primary">修改</b-button>
    <b-button type="reset" @click="fetchData" variant="secondary">重置</b-button>
  </b-form>

  <!-- 修改密码弹窗 -->
  <b-modal id="password-modal" title="修改密码" hide-footer>
    <b-form @submit="onSubmitPassword">

      <b-form-group label="旧密码" label-for="oldpwInput1">
        <b-form-input id="oldpwInput1" :type="passwordInputType" v-model="oldPassword1"></b-form-input>
      </b-form-group>
      <b-form-group label="旧密码" label-for="oldpwInput2">
        <b-form-input id="oldpwInput2" :type="passwordInputType" v-model="oldPassword2"></b-form-input>
      </b-form-group>
      <b-form-group label="新密码" label-for="newpwInput">
        <b-form-input id="newpwInput" :type="passwordInputType" v-model="newPassword"></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">确定</b-button>
      <b-button type="reset" variant="secondary">重置</b-button>
      <b-button variant="secondary" @click="showPassword = !showPassword">
        {{ showPassword? '隐藏密码': '显示密码' }}
      </b-button>
    </b-form>
  </b-modal>
</div>

