<b-navbar toggleable="md" type="dark" variant="info">

  <b-nav-toggle target="nav_collapse"></b-nav-toggle>

  <b-navbar-brand href="#">MediaManager</b-navbar-brand>

  <b-collapse is-nav id="nav_collapse">

    <b-nav is-nav-bar>
      <b-nav-item to="/file">File</b-nav-item>
      <b-nav-item to="/settings">Settings</b-nav-item>
    </b-nav>

    <b-navbar-nav class="ml-auto">

      <b-nav-item id="message-box">Message</b-nav-item>
      <b-popover target="message-box" placement="bottom" title="最近消息">
        <MessageList></MessageList>
      </b-popover>

      <b-nav-item-dropdown right>
        <template slot="button-content">
          <img :src="userAvatarUrl" width="30" height="30" class="d-inline-block align-top" alt="IMG">
          {{username}}
        </template>
        <b-dropdown-item @click="logout">Logout</b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>

  </b-collapse>
</b-navbar>
