<div class="table-responsive">

  <div class="row">
    <!-- 搜索框 -->
    <div class="col-md-5">
      <b-form-fieldset horizontal label="筛选" :label-cols="3">
        <b-form-input v-model="nameFilter" placeholder="筛选名称" />
      </b-form-fieldset>
    </div>

    <div class="col-md-3">
      <GroupDropdown :all="allGroups" v-model="groupFilter"></GroupDropdown>
    </div>

    <!-- 按钮组 -->
    <div class="col-md-4">
      <b-button variant="danger" @click="deleteBegin(selectedUsers)"><i class="fa fa-trash"></i></b-button>
      <b-button @click="$emit('fetch')"><i class="fa fa-refresh"></i></b-button>
      <b-button @click="updateAll"><i class="fa fa-cloud-upload"></i></b-button>
    </div>
  </div>

  <!-- 用户列表 -->
  <!-- TODO 调整列宽 -->
  <b-table striped bordered hover
           :sort-by.sync="sortBy"
           :sort-desc.sync="sortDesc"
           :current-page="currentPage"
           :per-page="perPage"
           :filter="filter"
           :items="users"
           :fields="fields"
  >
    <template slot="HEAD_select" scope="row">
      <b-form-checkbox v-model="selectAll"></b-form-checkbox>
    </template>
    <template slot="select" scope="row">
      <b-form-checkbox v-model="row.item.selected"></b-form-checkbox>
    </template>
    <template slot="avatar" scope="row">
      <b-img fluid :src="row.item.image" width="50" height="50" alt="IMG"></b-img>
    </template>
    <template slot="username" scope="row">
      <i class="fa fa-user"></i>
      {{row.item.username}}
      <i class="fa fa-pencil-square-o" @click="rename(row.item)"></i>
    </template>
    <template slot="password" scope="row">
      <i class="fa fa-lock"></i>
      {{row.item.password}}
      <i class="fa fa-pencil-square-o" @click="changePassword(row.item)"></i>
    </template>
    <template slot="groups" scope="row">
      <GroupDropdown :all="allGroups" v-model="row.item.groups"></GroupDropdown>
    </template>
  </b-table>

  <!-- 重命名弹窗 -->
  <b-modal id="rename-modal" title="重命名" @ok="renameDone" @show="newName = ''">
    <b-form-input v-model="newName" type="text" placeholder="新用户名"></b-form-input>
  </b-modal>

  <!-- 确认删除弹窗 -->
  <b-modal id="delete-modal" size="sm" title="Are you sure to delete?" @ok="deleteUsers">
    <p v-for="user in targetUsers">{{user.username}}</p>
  </b-modal>

  <!-- 重置密码弹窗 -->
  <b-modal id="password-modal" title="修改密码" @ok="changePasswordDone" @show="newPassword = ''">
    <b-form-input v-model="newPassword" type="text" placeholder="新密码"></b-form-input>
  </b-modal>

</div>
