<div>
  <!-- 搜索框 -->
  <div class="col-md-6">
    <b-form-fieldset horizontal label="Filter" :label-cols="3">
      <b-form-input v-model="filter" placeholder="Type to Search" />
    </b-form-fieldset>
  </div>

  <!-- 文件列表 -->
  <!-- TODO 调整列宽 -->
  <b-table striped hover
           :sort-by.sync="sortBy"
           :sort-desc.sync="sortDesc"
           :current-page="currentPage"
           :per-page="perPage"
           :filter="filter"
           :items="files"
           :fields="fields"
           @filtered="onFiltered"
  >
    <template slot="thumbnails" scope="row">
      <b-img thumbnail fluid v-bind:src="value" width="50" height="50" alt="Thumbnail"></b-img>
    </template>
    <template slot="star" scope="row">
      <input name="choice" type="checkbox" v-bind:checked="row.item.choice"/> <!-- TODO 正确绑定 -->
      <span v-bind:class="row.item.star? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"
            aria-hidden="true"></span>
    </template>
    <template slot="name" scope="row">
      <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
      <b-form-input v-model="row.item.name" type="text" placeholder="File name" v-bind:plaintext="!row.item.naming"></b-form-input> <!-- TODO 绑定编辑名称 -->
    </template>
    <template slot="size" scope="row">{{row.value}}</template>
    <template slot="modifyDate" scope="row">{{row.value}}</template>
    <template slot="detail" scope="row">
      <b-dropdown id="ddown1" text="..." variant="primary" class="m-md-2">
        <b-dropdown-item aria-describedby="details" @click.stop="showDetail(row.item, row.index)">
          <i class="fa fa-info-circle" aria-hidden="true"></i>Details
        </b-dropdown-item>
        <b-dropdown-item aria-describedby="rename" @click.stop="rename(row.item)">
          <i class="fa fa-pencil" aria-hidden="true"></i>Rename
        </b-dropdown-item>
        <b-dropdown-item aria-describedby="move">
          <i class="fa fa-exchange" aria-hidden="true"></i>Move
        </b-dropdown-item>
        <b-dropdown-item aria-describedby="download" v-bind:href="row.item.url">
          <i class="fa fa-download" aria-hidden="true"></i>Download
        </b-dropdown-item>
        <b-dropdown-item aria-describedby="delete">
          <i class="fa fa-trash" aria-hidden="true"></i></i>Delete
        </b-dropdown-item>
      </b-dropdown>
    </template>
  </b-table>

  <!-- 页码栏 -->
  <!-- TODO 居中 -->
  <div class="row my-1">
    <div class="col-sm-8">
      <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" />
    </div>
  </div>

  <!-- 详细信息弹窗 -->
  <!-- TODO 修复看不见的问题 -->
  <b-modal id="detail-modal" @hide="resetModal" ok-only>
    <h4 class="my-1 py-1" slot="modal-header">Index: {{ modalDetails.index }}</h4>
    <pre>{{ modalDetails.data }}</pre>
  </b-modal>

  <b-modal id="delete-modal" size="sm" title="Are you sure to delete?" @ok="deleteFile">
  </b-modal>
</div>
