<div class="table-responsive">

  <div class="row">
    <!-- 搜索框 -->
    <div class="col-md-5">
      <b-form-fieldset horizontal label="Filter" :label-cols="3">
        <b-form-input v-model="nameFilter" placeholder="Type to Search" />
      </b-form-fieldset>
    </div>

    <!-- 按钮组 -->
    <div class="col-md-4">
      <b-button variant="danger" @click="deleteBegin(selectedFiles)"><i class="fa fa-trash"></i></b-button>
      <b-button @click="$emit('fetch')"><i class="fa fa-refresh"></i></b-button>
    </div>
  </div>

  <!-- 用户列表 -->
  <!-- TODO 调整列宽 -->
  <b-table striped hover
           :sort-by.sync="sortBy"
           :sort-desc.sync="sortDesc"
           :current-page="currentPage"
           :per-page="perPage"
           :filter="filter"
           :items="users"
           :fields="fields"
  >
    <template slot="icon" scope="row">
      <b-img thumbnail fluid v-bind:src="row.item.image" width="50" height="50" alt="Thumbnail"></b-img>
    </template>
    <template slot="username" scope="row">
      <span class="fa fa-user" aria-hidden="true"></span>
      <b-form-input v-model="row.item.username" type="text" placeholder="User name"
                    :plaintext="!row.item.renaming" @change="rename_done(row.item)"></b-form-input>
    </template>
    <template slot="groups" scope="row">
      <GroupDropdown :all="allGroups" v-model="row.item.groups"></GroupDropdown>
    </template>
  </b-table>

</div>
