<div class="table-responsive">

  <!-- 搜索框 -->
  <div class="col-md-6">
    <b-form-fieldset horizontal label="Filter" :label-cols="3">
      <b-form-input v-model="nameFilter" placeholder="Type to Search" />
    </b-form-fieldset>
  </div>

  <!-- 文件列表 -->
  <!-- TODO 调整列宽 -->
  <b-table striped hover
           :sort-by.sync="sortBy"
           :sort-desc.sync="sortDesc"
           :current-page="currentPage"
           :per-page="perPage"
           :filter="filter"
           :items="users"
           :fields="fields"
  >
    <template slot="icon" scope="row">
      <b-img thumbnail fluid v-bind:src="row.item.image" width="50" height="50" alt="Thumbnail"></b-img>
    </template>
    <template slot="username" scope="row">
      {{row.value}}
    </template>
    <template slot="groups" scope="row">
      <GroupDropdown :all="allGroups" :selected="row.item.groups"></GroupDropdown>
    </template>
  </b-table>

</div>
