<div class="table-responsive">

  <div class="row">
    <!-- 搜索框 -->
    <div class="col-md-5">
      <b-form-fieldset horizontal label="Filter" :label-cols="3">
        <b-form-input v-model="nameFilter" placeholder="Type to Search" />
      </b-form-fieldset>
    </div>

    <!-- 按钮组 -->
    <div class="col-md-4">
      <b-button variant="danger" @click="deleteBegin(selectedFiles)"><i class="fa fa-trash"></i></b-button>
      <b-button @click="$emit('fetch')"><i class="fa fa-refresh"></i></b-button>
    </div>
  </div>

  <!-- 用户列表 -->
  <!-- TODO 调整列宽 -->
  <b-table striped hover
           :sort-by.sync="sortBy"
           :sort-desc.sync="sortDesc"
           :current-page="currentPage"
           :per-page="perPage"
           :filter="filter"
           :items="users"
           :fields="fields"
  >
    <template slot="icon" scope="row">
      <b-img thumbnail fluid v-bind:src="row.item.image" width="50" height="50" alt="Thumbnail"></b-img>
    </template>
    <template slot="username" scope="row">
      <i class="fa fa-user"></i>
      {{row.item.username}}
      <i class="fa fa-pencil-square-o" @click="rename(row.item)"></i>
    </template>
    <template slot="groups" scope="row">
      <GroupDropdown :all="allGroups" v-model="row.item.groups"></GroupDropdown>
    </template>
  </b-table>

  <!-- 重命名弹窗 -->
  <b-modal id="rename-modal" title="重命名" @ok="renameDone" @show="newName = ''">
    <b-form-input v-model="newName" type="text" placeholder="新用户名"></b-form-input>
  </b-modal>

</div>
