<nav class="navbar navbar-default" v-bind:class="{'navbar-inverse' : inverted}">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <span class="active" ></span><!--无法实现缺省打开-->
            <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
          </a>
          <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-picture" aria-hidden="true"></a>
          <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-flash" aria-hidden="true"></a>
          <a class="navbar-brand" href="#">vue</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li v-for="link in links" v-bind:class="{'active' : $route.path == link.path}">
                  <router-link v-bind:to="link.path">{{link.name}}</router-link>
                </li>
            </ul>
          <ul class="nav navbar-nav navbar-right">

            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-bell" aria-hidden="true"></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"> 个人</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"> 个人</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"> 个人</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"> 个人</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"> 个人</a></li>
              </ul>
            </li>

          </ul>
          <form class="navbar-form navbar-right">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
          </form>
        </div>
    </div>
</nav>
