<div>
  <!-- 路径 -->
  <PathBreadcrumb v-model="path"></PathBreadcrumb>

  <div class="row">
    <!-- 搜索框 -->
    <div class="col-md-5">
      <b-form-fieldset horizontal label="Filter" :label-cols="3">
        <b-form-input v-model="filter" placeholder="Type to Search" />
      </b-form-fieldset>
    </div>

    <!-- 按钮组 -->
    <div class="col-md-5">
      <b-button variant="danger" @click="deleteBegin(selectedFiles)"><i class="fa fa-trash"></i></b-button>
      <b-button @click="moveBegin(selectedFiles)"><i class="fa fa-exchange"></i></b-button>
      <b-button @click="fetchData"><i class="fa fa-refresh"></i></b-button>
      <b-button v-b-modal.upload-modal><i class="fa fa-upload"></i></b-button>
      <b-button v-b-modal.dir-modal><i class="fa fa-folder-o"></i></b-button>
      <b-button v-b-modal.newfile-modal><i class="fa fa-file"></i></b-button>
    </div>
  </div>

  <!-- 文件列表 -->
  <!-- TODO 调整列宽 -->
  <b-table striped hover
           :sort-by.sync="sortBy"
           :sort-desc.sync="sortDesc"
           :current-page="currentPage"
           :per-page="perPage"
           :filter="filter"
           :items="files"
           :fields="fields"
           @filtered="onFiltered"
           v-loading="isLoading"
  >
    <template slot="HEAD_select" scope="row">
      <b-form-checkbox v-model="selectAll"></b-form-checkbox>
    </template>
    <template slot="select" scope="row">
      <b-form-checkbox v-model="row.item.choice"></b-form-checkbox>
    </template>
    <template slot="icon" scope="row">
      <b-img fluid :src="row.item.thumbnails" width="40" height="40" @click.stop="open(row.item)"></b-img>
    </template>
    <template slot="star" scope="row">
      <span :class="row.item.star? 'fa fa-star' : 'fa fa-star-o'"
            @click.stop="row.item.star = !row.item.star"></span>
    </template>
    <template slot="name" scope="row">
      <span v-if="!row.item.renaming">{{row.item.name}}</span>
      <b-form-input v-model="row.item.name" type="text" placeholder="File name"
                    v-else @change="rename_done(row.item)"></b-form-input>
      <i class="fa fa-pencil" @click.stop="rename(row.item)"></i>
      <div>
        <b-badge v-for="tag in row.item.tags">{{tag.name}}</b-badge>
        <!--<b-badge :id="'add-tag'+row.index" variant="success">+</b-badge>-->
        <!--<b-popover :target="'add-tag'+row.index" placement="bottom" title="添加标签" @show="addTagBegin">-->
          <!--<b-input v-model="newTagName" placeholder="新标签名" @input="addTag(row.item)"></b-input>-->
          <!--&lt;!&ndash;<i class="fa fa-check" @click="addTag"></i>&ndash;&gt;-->
        <!--</b-popover>-->
      </div>
    </template>
    <template slot="size" scope="row">{{fileSizeToString(row.value)}}</template>
    <template slot="modifyDate" scope="row">{{dateToString(row.value)}}</template>
    <template slot="detail" scope="row">
      <b-btn variant="primary" size="sm" @click.stop="showDetail(row.item)">
        <i class="fa fa-info-circle"></i>
      </b-btn>
      <b-btn variant="primary" size="sm" @click.stop="showComment(row.item)">
        <i class="fa fa-comment"></i>
      </b-btn>
      <b-btn variant="primary" size="sm" @click.stop="moveBegin([row.item])">
        <i class="fa fa-exchange"></i>
      </b-btn>
      <b-btn variant="primary" size="sm" v-bind:href="row.item.url">
        <i class="fa fa-download"></i>
      </b-btn>
      <b-btn variant="danger" size="sm" @click.stop="deleteBegin([row.item])">
        <i class="fa fa-trash"></i>
      </b-btn>
    </template>
  </b-table>

  <!-- 页码栏 -->
  <div class="row">
    <div class="offset-md-4 col-md-3">
      <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" />
    </div>
  </div>

  <!-- 详细信息弹窗 -->
  <b-modal id="detail-modal" title="详细信息" ok-only>

    <b-form-group horizontal label="文件名">{{targetFile.name}}</b-form-group>

    <b-form-group horizontal label="所有者">{{targetFile.ownerName}}</b-form-group>

    <b-form-group horizontal label="文件标签">
      <multiselect v-model="targetFile.tags"
                   placeholder="文件标签"
                   label="name"
                   :taggable="true" @tag="newTag"
                   @input="updateTargetFile"
                   :options="allTags"
                   :multiple="true">
      </multiselect>
    </b-form-group>

    <b-form-group horizontal label="分享到组">
      <multiselect v-model="targetFile.shareToGroups"
                   placeholder="分享到用户组"
                   label="name"
                   @input="updateTargetFile"
                   :options="allUserGroups"
                   :multiple="true">
      </multiselect>
    </b-form-group>

    <b-btn v-b-toggle.collapse1 variant="primary">JSON</b-btn>
    <b-collapse id="collapse1" class="mt-2">
      <pre>{{ JSON.stringify(targetFile, null, 2) }}</pre>
    </b-collapse>

  </b-modal>

  <!-- 确认删除弹窗 -->
  <b-modal id="delete-modal" size="sm" title="Are you sure to delete?" @ok="deleteFiles">
    <p v-for="file in targetFiles">{{file.name}}</p>
  </b-modal>

  <!-- 选择路径弹窗 -->
  <b-modal id="move-modal" title="选择路径" @ok="moveSelected">
    <PathBreadcrumb v-model="targetPath" routeBase=""></PathBreadcrumb>
    <PathSelector v-model="targetPath"></PathSelector>
  </b-modal>

  <!-- 上传弹窗 -->
  <b-modal id="upload-modal" title="上传文件" @ok="uploadFiles">
    <b-form-file v-model="filesToUpload" multiple></b-form-file>
  </b-modal>

  <!-- 新文件夹弹窗 -->
  <b-modal id="dir-modal" title="新建文件夹" @ok="createDir" @show="newDirName = ''">
    <b-form-input v-model="newDirName" type="text" placeholder="新文件夹名称"></b-form-input>
  </b-modal>

  <!-- 新文件弹窗 -->
  <b-modal id="newfile-modal" title="新建空白文件" @ok="createFile" @show="newFileName = ''">
    <b-form-input v-model="newFileName" type="text" placeholder="新文件名称"></b-form-input>
  </b-modal>

  <!-- 预览弹窗 -->
  <PreviewModal :file="targetFile"></PreviewModal>

  <CommentList :fileID="targetFile? targetFile.id: 0"></CommentList>

</div>
