<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name = "keywords" content = "Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
  <!--webfonts-->
</head>

<body>
<!--SIGN UP-->
<h1>Login Form</h1>
<div class = "login-form">
  <div class = "close"> </div>
  <div class = "head-info">
    <label class = "lbl-1"> </label>
    <label class = "lbl-2"> </label>
    <label class = "lbl-3"> </label>
  </div>
  <div class = "clear"> </div>
  <div class = "avtar">
    <img src = "../images/avtar.png" />
  </div>
  <form>
    <div class="form-group">
    <input type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" v-model="username">
    <i class="fa fa-user"></i>
    </div>
    <div class="key">
      <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" v-model="password">
      <i class="fa fa-lock"></i>
    </div>
    <button type="button" class="btn btn-default btn-lg" >
      <span class="glyphicon glyphicon-star" aria-hidden="true"> Sign up</span>
    </button>
  </form>
  <div class="signin" class="checkbos">
    <input class="checkbox-inline" type="submit" value="Login" v-on:click="login">
  </div>
</div>
</body>
</html>
