<div class="row">
  <div class="col-lg-6">
    <div class="input-group" class="form-inline">
      <div class="form-inline">
        <input type="text" name="name" id="name" class="form-control" placeholder="User">
        <input type="password" class="form-control" placeholder="Code">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-user" aria-hidden="true"> Group
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
        <button class="btn btn-default" type="button">Make user</button>
      </div>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
